<p id="notice"><%= notice %></p>

<h1>Cards</h1>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:name, "Search for:") %>
  <%= text_field_tag :name, '', data: { provide: 'typeahead', source_query: autocomplete_card_name_cards_path }  %>
  
  <!-- <#%= text_field_tag :card_name, :as => :autocomplete, :source_query => autocomplete_card_name_cards_path %> -->
  <%= submit_tag("Search") %>
<% end %>


<br>

<script>
  $(function(){
    var options = {
    	url: function(phrase){
    	  return '/cards.json?name=' + phrase
    	},
      getValue: 'name',
      list: {
        match: { 
          enabled: true
        },
        maxNumberOfElements: 6,
        showAnimation: {
          type: "slide",
          time: 300
        },
        hideAnimation: {
          type: "slide",
          time: 150
        },
        onChooseEvent: function(){
         var multi = $("#name").getSelectedItemData().multi;
         var code = $("#name").getSelectedItemData().code;
         window.location.href = '/cards/' + code;
        }
      },
      theme: "round",
      template: {
        type: "custom",
        method: function(value, item) {
          return "<img src='"+item.image+"' class='autoImage'/> " + value + "<br>"+ item.text; 
        }
      }
    };
    
    $("#name").easyAutocomplete(options);
  })
</script>
