<p id="notice"><%= notice %></p>

<h1>Cards</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
  </tbody>
</table>
    <%= form_tag("/search", method: "get") do %>
      <%= label_tag(:name, "Search for:") %>
      <%= text_field_tag(:name) %>
      <%= submit_tag("Search") %>
    <% end %>
    </tbody>
</table>

<br>
