<h1>New Card</h1>

<%= form_tag :action => 'search', :method=> 'get' do %>
  <%= search_field_tag :name, type: 'text' %>
  <%= submit_tag "Search" %>
<% end %>

<%= render 'form', card: @card %>
<%= link_to 'Back', cards_path %>

