<% provide(:title, @card.name) %>
<div id="section" class="container-fluid">
  <div class="cardContainer">
    <strong class='cardTitle'><%= @card.name %></strong><br>
    <div class="cardImage">
      <%= image_tag(@card.image_url) %>
    </div>
    <div class="cardStats">
      <ul class='cardStatLabel'>
        <li><span class='cardLabel'>Card Name</span>: <%= @card.name %></li>
        <li><span class='cardLabel'>Mana Cost</span>: <%= @card.manaCost %></li>
        <li><span class='cardLabel'>Colors</span>: <%= @card.colors %></li>
        <li><span class='cardLabel'>Rarity</span>: <%= @card.rarity %></li>
        <li><span class='cardLabel'>Set</span>: <%= @card.setName %> - <%= @card.set %></li>
        <% if @card.text.nil? %>
          
        <% else %>
          <li><span class='cardLabel'>Card Text</span>: <%= @card.text %></li>
        <% end %>
        <% if @card.flavor.nil? %>
        <% else %>
          <li><span class='cardLabel'>Flavor Text</span>: <i><%= @card.flavor %></i></li>
        <% end %>
        <% if @card.power.nil? %>
        <% else %>
            <li><span class='cardLabel'>P/T</span>: <%= @card.power %>/<%= @card.toughness %></span></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


